*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("site-background.jpg");
    height: 100vh;
    background-attachment: fixed;
}
.logo{
    width: 180px;
    position: absolute;
    top: 4%;
    left: 2%;
}
.banner-text{
    text-align: center;
    color: rgb(58, 174, 212);
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 350px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.banner-text h1{
    font-size: 150px;
    letter-spacing: 3px;
}
.banner-text p{
    font-size: 40px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0px;
    text-shadow: none;
}
.banner-btn a{
    text-decoration: none;
    display: inline-block;
    margin: 0px 20px;
    padding: 13px 0px;
    border: 1px solid rgb(58, 174, 212);
    border-radius: 5px;
    color: rgb(0, 0, 0, .9);
    position: relative;
    z-index: 1;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(58, 174, 212); 
    z-index: -1;
    transition: .5s; 
}
.banner-btn a:hover span{
    width: 100%;
    background: rgb(58, 174, 212);
}
#butoaneDreapta{
    width: 250px;
    height: 937px;
    position: fixed;
    right: -300px;
    top: 0;
    background: rgb(58, 174, 212);
    z-index: 2;
    transition: .6s;
}
nav ul li{
    list-style: none;
    margin: 70px 40px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(250, 240, 230);
    text-transform: uppercase;
}
#butonMeniu{
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    background-color: rgb(58, 174, 212);
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#butonMeniu img{
    width: 20px;
    margin-top: 40%;
}
@media screen and (max-width: 770px)
{
    .banner-text h1{
        font-size: 44px;
        letter-spacing: 3px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}
/* Despre Noi*/
#despreNoi{
    width: 100%;
    padding: 350px 0px;
}
.title-text{
    text-align: center;
    padding-bottom: 100px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.title-text p{
    margin: auto;
    font-size: 45px;
    color: rgb(58, 174, 212);
    font-weight: bold;
    position: relative;
    display: inline-block;

}
.title-text h1{
    font-size: 60px;
}
.feature-box{
    font-size: 20px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align:center;
}
.features{
   flex-basis: 50%; 
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 50%;
    border-radius: 10px;   
}
.features h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight: 100;
    color:rgb(58, 174, 212);
}
.feature-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 45px;
    height: 45px;
    display: inline-block;
    font-size: 35px;
    line-height: 45px;
    border-radius: 10px;
    border: 1px solid rgb(58, 174, 212);
    color: rgb(58, 174, 212);
}
.feature-text p{
    padding: 0px 20px;
    text-align: initial;
}
/*produse*/
#produse{
    width: 100%;
    padding: 20px 0px;

}
.produse-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.produs{
    flex-basis: 50%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
    color: rgb(0, 0 , 0);
    position: relative;
}
.produs img{
    width: 93%;
    height: 99%;
    border-radius: 10px;
}
.background{
    width: 93%;
    height: 93%;
    position: absolute;
    top: 27px;
    left: 27px;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05),rgb(58, 174, 212));
    opacity: 0;
    transition: .5s;
}
.produs:hover .background{
     opacity: 1;
}
.desc-produs{
    width: 75%;
    position: absolute;
    bottom: 0;
    left: 50%;
    color:rgb(0, 0, 0);
    font-weight: 600;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}
hr{
    background: rgb(255, 255, 255, .5);
    height: 2px;
    border: 0;
    margin: 20px auto;
    width: 60%;
}
.desc-produs h3{
    font-size: 24px;
}
.desc-produs p{
    font-size: 17px;
}
.produs:hover .desc-produs{
    bottom: 40%;
    opacity: 1;
}
/* Comanda acum */  
  .select-box {
    height: 50vh;
    display: flex;
    width: 400px;
    flex-direction: column;
    position: relative;
    left: 40%;
    top: 150px;
  }
  
  .select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
  }
  
  .selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("sageata.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #414b57;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
/* Indicatii */
.textInd{
    position: relative;
    left: 12.5%;
    font-size: 28px;
    font-weight: 600;
    top: 0px; 
}
.title-text h2{
    position: relative;
    top: 200px;
    font-size: 60px;
}
textarea.indicatii{
    position: relative;
    left: 12.5%;
    width: 75%;
    height: 30vh;
    background-color: rgb(255, 255, 255, .3);
    top: 15px;
    font-size: 25px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, .3);
    border-radius: 5px;
}
/* Date de contact*/
#dateDeContact{
    width: 100%;
    padding: 300px 0px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.detalii .harta{
    flex-basis: 50%;
    margin: auto;
}
.detalii .harta img{
    width: 60%;
    border-radius: 10px;
    position: relative;
    left: 380px;
}
.numarDeTelefon{
    font-size: 25px;
    color: rgb(58, 174, 212);
    font-weight: bold;
    text-align: center;
    position: absolute;
    display: inline-block;
    left: 640px;
    padding-top: 30px;  
}
.numarDeTelefon a{
    text-decoration: none;
    color: rgb(58, 174, 212);
    padding-top: 50px;
    display: center;
}
